[Unit]
Description=Log parser for games
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=oneshot
WorkingDirectory=/opt/gsd-log-parser
ExecStart=/usr/bin/node dist/index.js minecraft
