[Unit]
Description=Log parser for games
After=network.target

[Install]
WantedBy=default.target

[Service]
Environment=IP=192.168.223.200
Environment=PORT=6379
Environment=LOOP=30000
Type=simple
WorkingDirectory=/opt/gsd-log-parser
ExecStart=/usr/bin/node dist/index.js minecraft
